<%- include ("./partials/header") %>


    <div class = "container">
        <div class = "jumbotron">
            <div class = "container"> 
                <h1 class="bd-title" id="content"> Get Started </h1>
                <p class="bd-lead">Publish your new blog! Our guides and resources will get you set up and ready to publish.</p>
            </div>
        </div>
    </div>
    
    <div class = "container">
        <div class = "row">
            <div class = "col-md-2">
            </div>
            <div class = "col-md-8">
                <h3 class="bd-title"> Step 1 : Login or SignUp </h3>  
                <br>
                <img class="img-responsive center-block"  src="https://user-images.githubusercontent.com/70189069/113558523-70770b80-961d-11eb-931e-b637f6ac50de.png">
                <hr> <br> 
                
                <h3 class="bd-title"> Step 2 : Click on Add new Story </h3>  
                <br>
                <img class="img-responsive center-block"  src="https://user-images.githubusercontent.com/70189069/113558484-6228ef80-961d-11eb-8395-9e50cb8fb1c6.png">
                <hr> <br> 
                
                <h3 class="bd-title"> Step 3 : Fill up details and upload image and Submit </h3>  
                <br>
                <img class="img-responsive center-block"  src="https://user-images.githubusercontent.com/70189069/115364194-c4b6e980-a1e0-11eb-9db0-845c6264795d.png">
                <hr> <br>
                
                <h3 class="bd-title"> How to write Story !! </h3>
                <h4 class="sm-lead"> Text editor provided supports HTML tags </h4>
                <p class="sm-lead"> <em> &lt;strong&gt; &lt;/strong&gt; &nbsp; :- &nbsp; for bold Text</em> </p>
                <p class="sm-lead"> <em> &lt;p&gt; &lt;/p&gt; &nbsp; :- &nbsp; for different Paragraphs</em> </p>
                <p class="sm-lead"> <em> &lt;em&gt; &lt;/em&gt; &nbsp; :- &nbsp; for italics Text</em> </p>
                <p class="sm-lead"> <em> &lt;u&gt; &lt;/u&gt; &nbsp; :- &nbsp; for underlining Text</em> </p>
                <p class="sm-lead"> <em> &lt;br&gt; &nbsp; :- &nbsp; for changing line</em> </p>
                
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank" rel="noopener noreferrer"> check out MDN Docs for more </a>
                <br>
                <hr> <br>
                
                <h3 class="bd-title"> Go Now and share your story Today <span>🌎 </span> ! </h3>  
                <br>
                <hr> <br>
                
            </div>
        </div>
    </div>
    
    
    
    
    
    
<%- include ("./partials/footer") %>