<!DOCTYPE html>
<html>
    <head>
        <title>TravelTale</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header">
     		<h1>Welcome to TravelTale!</h1>
    		<a href="/blogs" class="btn btn-lg btn-success">Share and Read travel stories</a>
            
            <!-- Seach form data is stored in req.query-->
            <div class="visible-md visible-lg" style="margin-top: 14px;">
                <form action="/blogs" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search for stories" class="form-control">
                        <input type="submit" value ="Search" class="btn btn-default">
                    </div>
                </form> 
            </div>
        </div>

        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </body>
</html>