<%- include ("./partials/header") %>

<div class="container">
    <h1 style="text-align: center;"> Sign Up </h1>
    <div class="formview">
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" placeholder="Username" name="username" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email id</label>
                <input class="form-control" type="email" placeholder="Email id" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" placeholder="Password" name="password" required>
            </div>

            <div class="form-group">
                <label for="firstname">First Name</label>
                <input class="form-control" type="text" id="firstname" placeholder="First Name" name="firstName" required>
            </div>

            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input class="form-control" type="text" id="lastname" placeholder="Last Name" name="lastName" required>
            </div>


            <!--<div class="form-group">-->
            <!--    <label for="admincode">Admin Code</label>-->
            <!--    <input class="form-control" type="password" id="admincode" placeholder="Admin code (only for developer)" name="adminCode">-->
            <!--</div>-->

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        
        <span class="pull-right" style="margin-bottom: 25px;">Already have account? 
            <a href="/login">Login</a>
        </span>

    </div>
</div>

<%- include ("./partials/footer") %>